%h1 Editing Photo

= form_with(model: @photo, local: true) do |form|
  - if @photo.errors.any?
    #error_explanation
      %h2
        = pluralize(@photo.errors.count, "error")
        prohibited this profile from being saved:
      %ul
        - @photo.errors.full_messages.each do |message|
          %li= message
  .field.form-group
    = form.label :description
    = form.text_field :description, class: 'form-control'
  .field.form-group
    = form.label :photo_file
    = form.file_field :photo_file, class: 'form-control'
  .actions
    = form.submit class: 'btn btn-info btn-lg btn-block'

.buttons-group
  .btn.btn-info.btn-lg
    = link_to 'Back to index list', profile_photos_path( @photo.profile.id )


