%p#notice= notice
%h1 Photos
%table.table
  %thead
    %tr
      %th Description
      %th Photo
      %th{colspan: "3"}
  %tbody
    - @photos.each do |photo|
      %tr
        %td= photo.description
        %td.img-thumbnail
          = image_tag(photo.photo_file)
        %td= link_to 'Show', photo_path( photo )
        %td= link_to 'Edit', edit_photo_path( photo )
        %td= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' }
%br/

.row.actions
  .btn.btn-info.btn-lg.btn-block
    = link_to 'New Photo', new_profile_photo_path( @profile )
  .btn.btn-info
    = link_to 'Back to Edit Page', edit_profile_path(@profile)
