%h1 Editing Hobby

= form_with(model: @hobby, local: true) do |form|
  - if @hobby.errors.any?
    #error_explanation
      %h2
        = pluralize(@hobby.errors.count, "error")
        prohibited this profile from being saved:
      %ul
        - @hobby.errors.full_messages.each do |message|
          %li= message
  .field.form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'
  .field.form-group
    = form.label :description
    = form.text_field :description, class: 'form-control'
  .field.form-group
    = form.label :preference
    = form.select :preference, @preferences, include_blank: true
  .field.form-group
    = form.label :category
    = form.select :category_id, @categories, include_blank: true
  .actions
    = form.submit class: 'btn btn-info btn-lg btn-block'

.buttons-group
  .btn.btn-info.btn-lg
    = link_to 'Back to index list', profile_hobbies_path( @hobby.profile.id )


