%p#notice= notice
%p
  %strong Name:
  = @hobby.name

%p
  %strong Description:
  = @hobby.description

%p
  %strong Preference:
  = @hobby.preference

%p
  %strong Category:
  = @hobby.category.name

= link_to 'Edit', edit_hobby_path(@hobby)
|
= link_to 'Back to index list', profile_hobbies_path( @hobby.profile.id )
