
.jumbotron
  %h1 Search
  <form action="friends/new" method="post">
  .form-group
    <label for="url">Address</label>:
    <input  class="form-control" id="url" name="url" type="text" /><br />
    <input class="btn btn-primary" name="commit" type="submit" value="Go" />
  </form>
