%h1 New Certificate

= form_with(model: [@profile, @certificate], local: true) do |form|
  - if @certificate.errors.any?
    #error_explanation
      %h2
        = pluralize(@certificate.errors.count, "error")
        prohibited this photo from being saved:
      %ul
        - @certificate.errors.full_messages.each do |message|
          %li= message
  .field.form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'
  .field.form-group
    = form.label :file
    = form.file_field :file, class: 'form-control'

  .actions
    = form.submit class: 'btn btn-info btn-lg btn-block'

.buttons-group
  .btn.btn-info.btn-lg
    = link_to 'Back to index list', profile_certificates_path( @profile )
